################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/MLT.Rifa2.MVC/v17/.wsuo
/.vs/MLT.Rifa2.MVC/FileContentIndex/e1849c25-e313-4eee-963d-73545cfbccc4.vsidx
