@{
    ViewData["Title"] = "PAGO CONFIRMADO";
}
<div class="text-center">
    <h1 class="text-success">PAGO CONFIRMADO</h1>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Volver al inicio</a>
</div>
