@{
    ViewData["Title"] = "Opciones Organizacion";
    var mensajeAgregado = TempData["mensajeAgregado"];
    var mensajeError = TempData["mensajeError"];
}

<div class="text-center pt-4 mb-2">
    <h1 class="display-4"><b>Opciones para organizaciones</b></h1>
    <h4>(Organización)</h4>
</div>

<div class="pt-2">
    <div class="row justify-content-center">
        <div class="col-lg-auto">
            <a asp-controller="Raffle" asp-action="CreateRaffle" class="btn btn-primary rounded-2">Crear rifa</a>
        </div>
        <div class="col-lg-auto">
            <a asp-action="RaffleList" class="btn btn-primary rounded-2">Rifas creadas</a>
        </div>
        <div class="col-lg-auto">
            <a asp-action="Payment" class="btn btn-primary rounded-2">Crear Pago (prueba)</a>
        </div>
    </div>
</div>

@section Scripts{
    @if (mensajeAgregado != null)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    title: '¡Agregado!',
                    text: '@mensajeAgregado',
                    icon: 'success'
                });
            });
        </script>
    }
    @if (mensajeError != null)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    title: '¡Error!',
                    text: '@mensajeError',
                    icon: 'error'
                });
            });
        </script>
    }
}