@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="text-center pt-4 mb-2">
    <br />
    <h1 class="display-1 pb-2"><b>¡UPS!</b></h1>
    <h3 class="pb-5">Creo que te has perdido...</h3>
    <a asp-action="Index" asp-controller="Home">&lt Volver al inicio</a>
</div>
